# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Flask
instance/

# Database
database.db
*.db

# Uploaded files
static/uploads/*

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db